*{
    box-sizing: border-box;
}
.scrolable{
    overflow: auto;
    max-width: 100%;
    max-height: 100vh;
}
.pearson {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 49%;
    padding: 16px;
    border: solid 2px black;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    font-family: sans-serif;
    gap: 12px;
    background-color: #f9f9f9;
}

.portrait {
    font-size: 64px;
    line-height: 1;
}

.name {
    margin: 0;
    font-size: 1.4em;
    font-weight: bold;
    text-align: center;
}

.role {
    margin: 0;
    font-size: 1em;
    font-weight: normal;
    color: #666;
    text-align: center;
    font-style: italic;
}


speech-listener {
    width: 100%;
}

.container {
    display: flex;
    gap: 2px;
    margin-top: 10px;
    flex-wrap: wrap; /* <-- to pozwala elementom przechodzić do nowej linii */
    align-items: center;
}

header, footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}