    /* --- GLOBAL / SECTION --- */
    * {
      box-sizing: border-box;
      margin: 0;
      font-family: "Roboto", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-variation-settings: "wdth" 100;
      color: white;
      background-color: black;
    }

    /* Dla Chrome, Edge, Safari */
    *::-webkit-scrollbar {
      display: none;
    }

    .material-symbols-outlined {
      font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24
    }

    body {
      min-height: 100svh;
      overflow: auto;
    }

    /* --- SLIDE / SECTION --- */
    section {
      aspect-ratio: 4 / 3;

      /* maksymalny rozmiar mieszczący się w obu osiach */
      width: min(100%, calc(100svh * 4 / 3));
      height: auto;
      max-height: 100svh;
      max-width: 100%;

      /* kontener */
      container-type: size;
      border-radius: 1cqw;

      /* niezależne renderowanie (optymalizacja) */
      contain: strict;
      box-sizing: border-box;
      margin: 0;
      font-family: "Roboto", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-variation-settings: "wdth" 100;
      color: white;
      background-color: black;      
    }

    /* --- CONTENT SCALED BY CONTAINER (SECTION) --- */
    h1 {
      font-size: 8cqw;
      line-height: 1.1;
    }

    p {
      font-size: 3.5cqw;
      opacity: 0.85;
    }

    .box {
      width: 30cqw;
      height: 15cqh;
      margin-inline: auto;
      border-radius: 1cqw;
    }

    /* --- DIALOG --- */
    dialog {
      width: 100svw;          /* pełna szerokość viewportu */
      max-width: 100%;        /* zabezpieczenie */
      border-radius: 0.05rem solid #111111;

      /* niezależne renderowanie (optymalizacja) */
      contain: strict;
      box-sizing: border-box;
      margin: 0;
      font-family: "Roboto", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-variation-settings: "wdth" 100;
      color: white;
      background-color: black;      
    }

    dialog::backdrop {
    background: rgba(0,0,0,0.5); /* ciemne tło za dialogiem */
    }

    /* --- CONTENT SCALED BY DIALOG --- */

    /* --- IFRAME --- */
    dialog iframe {
      display: block;
      width: 100%;
      height: 90svh;
    }

    section iframe {
      display: block;
      width: 100%;
      height: 100%;
    }    

    /* --- EXPANDERS CONTENT --- */
    .dotted-underline {
      border-bottom: 0.1rem dotted gray;
      cursor: help; /* pokazuje że można kliknąć */
    }

    .tooltip-icon {
      cursor: pointer;
      margin-left: 0.2em;
      color: royalblue;
    }

    /* --- Background Colors --- */
    .bcg-R{background-color: rgb(48, 0, 1);}
    .bcg-O{background-color: rgb(32, 16, 0);}
    .bcg-Y{background-color: rgb(24, 24, 0);}
    .bcg-G{background-color: rgb(0, 48, 0);}
    .bcg-C{background-color: rgb(0, 24, 24);}
    .bcg-B{background-color: rgb(0, 0, 48);}
    .bcg-P{background-color: rgb(24, 0, 24);}
    /* --- Foreground Colors --- */
    .fcg-R{background-color: rgb(178, 0, 1);}
    .fcg-O{background-color: rgb(184, 121, 0);}
    .fcg-Y{background-color: rgb(164, 164, 0);}
    .fcg-G{background-color: rgb(0, 168, 0);}
    .fcg-C{background-color: rgb(0, 164, 164);}
    .fcg-B{background-color: rgb(0, 0, 204);}
    .fcg-P{background-color: rgb(164, 0, 164);}    