    /* --- GLOBAL / SECTION --- */
    * {
      box-sizing: border-box;
      margin: 0;
      font-family: "Roboto", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-variation-settings: "wdth" 100;
      color: white;
    }

    /* Dla Chrome, Edge, Safari */
    *::-webkit-scrollbar {
      display: none;
    }

    .material-symbols-outlined {
      font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24
    }

    body {
      min-height: 100svh;
      overflow: auto;
      background-color: black;
    }

    /* --- SLIDE / SECTION --- */
    section {
      aspect-ratio: 4 / 3;

      /* maksymalny rozmiar mieszczący się w obu osiach */
      width: min(100%, calc(100svh * 4 / 3));
      height: auto;
      max-height: 100svh;
      max-width: 100%;

      /* kontener */
      container-type: size;
      border-radius: 1cqw;

      /* niezależne renderowanie (optymalizacja) */
      contain: strict;
      box-sizing: border-box;
      margin: 0 auto;
      font-family: "Roboto", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-variation-settings: "wdth" 100;
      color: white;
      background-color: rgb(16, 16, 16);
      display: block;      
    }

    /* --- CONTENT SCALED BY CONTAINER (SECTION) --- */
    section h1 {
      font-size: 6cqw;
      line-height: 2;
      margin: 0 auto;
      display: block;
      text-align: center;
    }

    section h2 {
      font-size: 4cqw;
      line-height: 1.5;
      margin: 0 auto;
      display: block;
      text-align: center;
    }    

    section p {
      font-size: 2.5cqw;
      line-height: 1;
      margin: 0 auto;
      display: block;
      text-align: center;
    }

    section .box {
      border-radius: 1cqw;
      margin: 0 auto;
      display: block;
      text-align: center;
    }


      /* 1cqw = 4    1cqh = 3   common = 12 - 3cqw, 4cqh*/
    section .box.s11{width: 3cqw; height: 4cqh;}/* 12 */
    section .box.s22{width: 6cqw; height: 8cqh;}/* 24 */
    section .box.s44{width: 12cqw; height: 16cqh;}/* 48 */    

    section .box.s12{width: 3cqw; height: 8cqh;}/* 12/24 */
    section .box.s14{width: 3cqw; height: 16cqh;}/* 12/48 */
    section .box.s24{width: 6cqw; height: 16cqh;}/* 24/48 */      
      
    section .box.s21{width: 6cqw; height: 4cqh;}/* 24/12 */
    section .box.s41{width: 12cqw; height: 4cqh;}/* 48/12 */
    section .box.s42{width: 12cqw; height: 8cqh;}/* 48/24 */        

    section button{
      font-size: 2cqw;
      border-radius: 1cqw;        
      margin: 0 auto;
      display: block;    
      background-color: black;
      text-align: center;    
    }

    /* --- DIALOG --- */
    dialog {
      width: 100svw;          /* pełna szerokość viewportu */
      max-width: 100%;        /* zabezpieczenie */
      height: 100svh;
      border: 0.05rem solid #111111;
      border-radius: 0.05rem;
      overflow: auto;

      /* niezależne renderowanie (optymalizacja) */
      contain: strict;
      box-sizing: border-box;
      margin: 0 auto;
      font-family: "Roboto", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-variation-settings: "wdth" 100;
      color: white;
      background-color: rgb(16, 16, 16);     
    }

    dialog::backdrop {
    background: rgba(0,0,0,0.5); /* ciemne tło za dialogiem */
    }

    /* --- CONTENT SCALED BY DIALOG --- */

    /* --- IFRAME --- */
    dialog iframe {
      display: block;
      width: 100%;
      height: 90svh;
    }

    section iframe {
      display: block;
      width: 100%;
      height: 100%;
    }    

    /* --- EXPANDERS CONTENT --- */
    .dotted-underline {
      border-bottom: 0.1rem dotted gray;
      cursor: help; /* pokazuje że można kliknąć */
    }

    .tooltip-icon {
      cursor: pointer;
      margin-left: 0.2em;
      color: royalblue;
    }

    /* --- Background Colors --- */
    .bcg-R{background-color: rgb(48, 0, 1);}
    .bcg-O{background-color: rgb(32, 16, 0);}
    .bcg-Y{background-color: rgb(24, 24, 0);}
    .bcg-G{background-color: rgb(0, 48, 0);}
    .bcg-C{background-color: rgb(0, 24, 24);}
    .bcg-B{background-color: rgb(0, 0, 48);}
    .bcg-P{background-color: rgb(24, 0, 24);}
    .bcg-A{background-color: rgb(16, 16, 16);}
    /* --- Foreground Colors --- */
    .fcg-R{color: rgb(178, 0, 1);}
    .fcg-O{color: rgb(184, 121, 0);}
    .fcg-Y{color: rgb(164, 164, 0);}
    .fcg-G{color: rgb(0, 168, 0);}
    .fcg-C{color: rgb(0, 164, 164);}
    .fcg-B{color: rgb(0, 0, 204);}
    .fcg-P{color: rgb(164, 0, 164);}
    .fcg-A{color: rgb(164, 164, 164);}
    /* --- Positions --- */
    .m0{margin: 0 auto; display: block;}      