    /* --- ROOT variables --- */
    :root {
    /* --- Background palette --- */
    --bcg-R: rgb(40, 12, 14);
    --bcg-O: rgb(42, 28, 14);
    --bcg-Y: rgb(40, 38, 16);
    --bcg-G: rgb(18, 40, 22);
    --bcg-C: rgb(16, 36, 36);
    --bcg-B: rgb(14, 20, 42);
    --bcg-P: rgb(32, 18, 40);
    --bcg-A: rgb(20, 20, 22);
    --bcg-Z: rgb(0, 0, 0);

    /* --- Foreground palette --- */
    --fcg-R: rgb(255, 96, 96);
    --fcg-O: rgb(255, 178, 92);
    --fcg-Y: rgb(255, 234, 120);
    --fcg-G: rgb(120, 255, 140);
    --fcg-C: rgb(112, 232, 232);
    --fcg-B: rgb(140, 168, 255);
    --fcg-P: rgb(216, 140, 255);
    --fcg-A: rgb(220, 220, 224);
    --fcg-Z: rgb(255, 255, 255);

    /* --- Other palette--- */
    --curtain: rgba(0,0,0,0.5);
    
    /* --- Font Sizes slides--- */
    --fs8: 8cqh;
    --fs6: 5cqh;
    --fs4: 4cqh;
    --fs3: 3cqh;
    /* --- Font Sizes page--- */
    --fp8: 2.5rem;
    --fp6: 2rem;
    --fp4: 1.5rem;
    --fp3: 1rem;

    /* --- Border slides--- */
    --bs: 1cqh;
    /* --- Border page--- */
    --bp: 2rem;
    } 

    /* --- GLOBAL / SECTION --- */
    * {
      box-sizing: border-box;
      margin: 0;
      font-family: "Roboto", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-variation-settings: "wdth" 100;
      color: var(--fcg-Z);
      text-size-adjust: none;
    }

    /* Dla Chrome, Edge, Safari */
    *::-webkit-scrollbar {
      display: none;
    }

    .material-symbols-outlined {
      font-size: inherit;
      font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24
    }

    body {
      min-height: 100svh;
      overflow: auto;
      background-color: var(--bcg-Z);
    }

    /* --- SLIDE / SECTION --- */
    section {
      aspect-ratio: 4 / 3;

      /* maksymalny rozmiar mieszczący się w obu osiach */
      width: min(100%, calc(100svh * 16 / 9));
      height: auto;
      max-height: 100svh;
      max-width: 100%;

      /* kontener */
      container-type: size;
      border-radius: var(--bs);

      /* niezależne renderowanie (optymalizacja) */
      contain: strict;
      box-sizing: border-box;
      margin: 0 auto;
      font-family: "Roboto", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-variation-settings: "wdth" 100;
      color: var(--fcg-A);
      background-color: var(--bcg-A);
      display: block;      
    }

    /* --- CONTENT SCALED BY CONTAINER (SECTION) --- */
    section h1 {
      font-size: var(--fs8);
      line-height: 2;
      margin: 0 auto;
      display: block;
      text-align: center;
    }

    section h2 {
      font-size: var(--fs6);
      line-height: 1.5;
      margin: 0 auto;
      display: block;
      text-align: center;
    }    

    section p {
      font-size: var(--fs4);
      line-height: 1;
      margin: 0 auto;
      display: block;
      text-align: center;
    }

    section hr {
    border: none;
    height: 0.1cqw;
    background-color: currentColor;
    opacity: 0.3;
    margin: 2cqw auto;
    width: 60%;
    }
    
    section img,
    section svg,
    section video,
    section audio {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin: 0 auto;
    }

    section .box {
      border-radius: var(--bs);
      margin: 0 auto;
      display: block;
      text-align: center;
    }

    /* 16 / 9  = 5cqh - min*/
    section .box.s05{width: 5cqh; height: 5cqh;}
    section .box.s10{width: 10cqh; height: 10cqh;}
    section .box.s20{width: 20cqh; height: 20cqh;}
    section .box.s50{width: 50cqh; height: 50cqh;}    

    section .box.r05{width: 5cqw; height: 5cqh;}
    section .box.r10{width: 10cqw; height: 10cqh;}
    section .box.r20{width: 20cqw; height: 20cqh;}
    section .box.r50{width: 50cqw; height: 50cqh;}     

    section button,
    section input:not([type="checkbox"]):not([type="radio"]),
    section select,
    section textarea,
    label{
      margin: 0 auto;
      display: block;  

      font-size: var(--fs3);
      border-radius: var(--bs);          
      background-color: var(--bcg-Z);
      color: var(--fcg-Z);
      text-align: center;
      background: transparent;    
    }

    /* controls inline */
    section input[type="checkbox"],
    section input[type="radio"] {
    display: inline-block;
    margin: 0;

    font-size: var(--fs3);
    border-radius: var(--bs);          
    background-color: var(--bcg-Z);
    color: var(--fcg-Z);
    text-align: center;
    background: transparent;        
    }


    /* --- DIALOG --- */
    dialog,
    .dialog {
      width: 100svw;          /* pełna szerokość viewportu */
      max-width: 100%;        /* zabezpieczenie */
      height: 100svh;
      border: 0.05rem solid var(--bcg-Z);
      border-radius: var(--bp);
      overflow: auto;

      /* niezależne renderowanie (optymalizacja) */
      contain: strict;
      box-sizing: border-box;
      margin: 0 auto;
      font-family: "Roboto", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-variation-settings: "wdth" 100;
      color: var(--fcg-A);
      background-color: var(--bcg-Z);     
    }

    dialog::backdrop {
    background: var(--curtain); /* ciemne tło za dialogiem */
    }

    /* --- CONTENT SCALED BY DIALOG --- */

    /* --- IFRAME --- */
    dialog iframe,
    .dialog iframe {
      display: block;
      width: 100%;
      height: 100%;
    }

    section iframe {
      display: block;
      width: 100%;
      height: 100%;
    }    

    /* --- EXPANDERS CONTENT --- */
    .dotted-underline {
      border-bottom: 0.1em dotted gray;
      cursor: help; /* pokazuje że można kliknąć */
    }

    .tooltip-icon {
      cursor: pointer;
      margin-left: 0.2em;
      color: royalblue;
    }

    /* --- Background Colors --- */
    .bcg-R{background-color: var(--bcg-R);}
    .bcg-O{background-color: var(--bcg-O);}
    .bcg-Y{background-color: var(--bcg-Y);}
    .bcg-G{background-color: var(--bcg-G);}
    .bcg-C{background-color: var(--bcg-C);}
    .bcg-B{background-color: var(--bcg-B);}
    .bcg-P{background-color: var(--bcg-P);}
    .bcg-A{background-color: var(--bcg-A);}
    .bcg-A{background-color: var(--bcg-Z);}

    /* --- Foreground Colors --- */
    .fcg-R{color: var(--fcg-R);}
    .fcg-O{color: var(--fcg-O);}
    .fcg-Y{color: var(--fcg-Y);}
    .fcg-G{color: var(--fcg-G);}
    .fcg-C{color: var(--fcg-C);}
    .fcg-B{color: var(--fcg-B);}
    .fcg-P{color: var(--fcg-P);}
    .fcg-A{color: var(--fcg-A);}


    /* --- Positions --- */
    .m0{margin: 0 auto; display: block;}