    /* --- ROOT variables --- */
    :root {
    /* --- Neutral --- */
    --clr-bg-main: rgb(16, 16, 16);
    --clr-bg-black: rgb(0, 0, 0);
    --clr-text-main: rgb(220, 220, 224);
    --clr-text-white: rgb(255, 255, 255);
    --curtain: rgba(0,0,0,0.5);

    /* --- Background palette --- */
    --bcg-R: rgb(40, 12, 14);
    --bcg-O: rgb(42, 28, 14);
    --bcg-Y: rgb(40, 38, 16);
    --bcg-G: rgb(18, 40, 22);
    --bcg-C: rgb(16, 36, 36);
    --bcg-B: rgb(14, 20, 42);
    --bcg-P: rgb(32, 18, 40);
    --bcg-A: rgb(20, 20, 22);

    /* --- Foreground palette --- */
    --fcg-R: rgb(255, 96, 96);
    --fcg-O: rgb(255, 178, 92);
    --fcg-Y: rgb(255, 234, 120);
    --fcg-G: rgb(120, 255, 140);
    --fcg-C: rgb(112, 232, 232);
    --fcg-B: rgb(140, 168, 255);
    --fcg-P: rgb(216, 140, 255);
    --fcg-A: rgb(220, 220, 224);
    }

    
    /* --- GLOBAL / SECTION --- */
    * {
      box-sizing: border-box;
      margin: 0;
      font-family: "Roboto", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-variation-settings: "wdth" 100;
      color: var(--clr-text-white);
    }

    /* Dla Chrome, Edge, Safari */
    *::-webkit-scrollbar {
      display: none;
    }

    .material-symbols-outlined {
      font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' 0,
      'opsz' 24
    }

    body {
      min-height: 100svh;
      overflow: auto;
      background-color: var(--clr-bg-black);
    }

    /* --- SLIDE / SECTION --- */
    section {
      aspect-ratio: 4 / 3;

      /* maksymalny rozmiar mieszczący się w obu osiach */
      width: min(100%, calc(100svh * 16 / 9));
      height: auto;
      max-height: 100svh;
      max-width: 100%;

      /* kontener */
      container-type: size;
      border-radius: 1cqw;

      /* niezależne renderowanie (optymalizacja) */
      contain: strict;
      box-sizing: border-box;
      margin: 0 auto;
      font-family: "Roboto", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-variation-settings: "wdth" 100;
      color: var(--clr-text-main);
      background-color: var(--clr-bg-main);
      display: block;      
    }

    /* --- CONTENT SCALED BY CONTAINER (SECTION) --- */
    section h1 {
      font-size: 6cqw;
      line-height: 2;
      margin: 0 auto;
      display: block;
      text-align: center;
    }

    section h2 {
      font-size: 4cqw;
      line-height: 1.5;
      margin: 0 auto;
      display: block;
      text-align: center;
    }    

    section p {
      font-size: 2.5cqw;
      line-height: 1;
      margin: 0 auto;
      display: block;
      text-align: center;
    }

    section .box {
      border-radius: 1cqw;
      margin: 0 auto;
      display: block;
      text-align: center;
    }


      /* 16 / 9  = 5cqh - min*/
    section .box.s05{width: 5cqh; height: 5cqh;}
    section .box.s10{width: 10cqh; height: 10cqh;}
    section .box.s20{width: 20cqh; height: 20cqh;}
    section .box.s50{width: 50cqh; height: 50cqh;}    

    section .box.r05{width: 5cqw; height: 5cqh;}
    section .box.r10{width: 10cqw; height: 10cqh;}
    section .box.r20{width: 20cqw; height: 20cqh;}
    section .box.r50{width: 50cqw; height: 50cqh;}     

    section button{
      font-size: 2cqw;
      border-radius: 1cqw;        
      margin: 0 auto;
      display: block;    
      background-color: var(--clr-bg-black);
      color: var(--clr-text-white);
      text-align: center;    
    }

    /* --- DIALOG --- */
    dialog,
    .dialog {
      width: 100svw;          /* pełna szerokość viewportu */
      max-width: 100%;        /* zabezpieczenie */
      height: 100svh;
      border: 0.05rem solid var(--clr-bg-black);
      border-radius: 0.05rem;
      overflow: auto;

      /* niezależne renderowanie (optymalizacja) */
      contain: strict;
      box-sizing: border-box;
      margin: 0 auto;
      font-family: "Roboto", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-variation-settings: "wdth" 100;
      color: var(--clr-text-main);
      background-color: var(--clr-bg-black);     
    }

    dialog::backdrop {
    background: var(--curtain); /* ciemne tło za dialogiem */
    }

    /* --- CONTENT SCALED BY DIALOG --- */

    /* --- IFRAME --- */
    dialog iframe,
    .dialog iframe {
      display: block;
      width: 100%;
      height: 100%;
    }

    section iframe {
      display: block;
      width: 100%;
      height: 100%;
    }    

    /* --- EXPANDERS CONTENT --- */
    .dotted-underline {
      border-bottom: 0.1rem dotted gray;
      cursor: help; /* pokazuje że można kliknąć */
    }

    .tooltip-icon {
      cursor: pointer;
      margin-left: 0.2em;
      color: royalblue;
    }

    /* --- Background Colors --- */
    .bcg-R{background-color: rgb(40, 12, 14);}
    .bcg-O{background-color: rgb(42, 28, 14);}
    .bcg-Y{background-color: rgb(40, 38, 16);}
    .bcg-G{background-color: rgb(18, 40, 22);}
    .bcg-C{background-color: rgb(16, 36, 36);}
    .bcg-B{background-color: rgb(14, 20, 42);}
    .bcg-P{background-color: rgb(32, 18, 40);}
    .bcg-A{background-color: rgb(20, 20, 22);}

    /* --- Foreground Colors --- */
    .fcg-R{color: rgb(255, 96, 96);}
    .fcg-O{color: rgb(255, 178, 92);}
    .fcg-Y{color: rgb(255, 234, 120);}
    .fcg-G{color: rgb(120, 255, 140);}
    .fcg-C{color: rgb(112, 232, 232);}
    .fcg-B{color: rgb(140, 168, 255);}
    .fcg-P{color: rgb(216, 140, 255);}
    .fcg-A{color: rgb(220, 220, 224);}

    /* --- Positions --- */
    .m0{margin: 0 auto; display: block;}      